image {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 1244.89px;
  height: 596px;
  max-height: none;
  max-width: none;
  z-index: 0;
  left: -254.048px;
  top: 0px;
}
